<h1 class="app-name"><div class="logo"></div> Ranger<strong>ID</strong></h1>

<div class="scrollable sidebar-scrollable">
  <div class="scrollable-content">
    <div class="list-group" toggle="off" bubble target="mainSidebar">
      <a class="list-group-item" href="#/account">Account <i class="fa fa-home pull-right"></i></a>
      <a class="list-group-item" href="#/repository">Repository <i class="fa fa-github pull-right"></i></a>
      <a class="list-group-item" href="#/statistic">Statistic <i class="fa fa-bar-chart-o pull-right"></i></a>
      <a class="list-group-item" href="#/member">Member <i class="fa fa-user pull-right"></i></a>
      <a class="list-group-item" href="#/about">About <i class="fa fa-exclamation-circle pull-right"></i></a>
    </div>

  </div>
</div>
