<div content-for="title">
  <span>Statistic</span>
</div>
<div class="scrollable">
  <div class="scrollable-content">
    <div class="section container-fluid">
      
      <div class="btn-group justified nav-tabs">
        <a class="btn btn-default active"
           href="#/statistic">Prodi
        </a>
        <a class="btn btn-default"
           href="#/statistic/gender">Gender
        </a>
      </div>

      <div ac-chart="'bar'" ac-data="data" ac-config="config" id='chart' class='chart'></div>
    </div>
  </div>
</div>